# Logs
*.log
**/logs/*
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.local
**/dist-ssr/*
**/dist/*
**/node_modules/*

# Editor directories and files
.DS_Store
*.njsproj
*.ntvs*
*.suo
*.sw?
**/.idea/*
**/.vscode/*

# Other
*.env
*.exe
*.mkv
*.mp4
**/build/*
**/debug/*
**/src-tauri/target
sync.ffs_db
