.drag-and-drop-file-picker {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
}
.drag-and-drop-file-picker > input {
  background: transparent;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  left: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
}
.drag-and-drop-file-picker > span {
  background-color: transparent;
  border-radius: 0.5em;
  height: auto;
  padding: 0;
  pointer-events: none;
  transform: scale(1);
  transition: all 0.2s ease;
  width: auto;
}
.drag-and-drop-file-picker:hover > span {
  background-color: lightgray;
  padding: 0.25em;
  padding-bottom: 0.5em;
  transform: scale(1.14);
  transition: all 0.2s ease;
}
